
@{
    ViewBag.Title = "Cadastro de Usuários";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Alterar usuário</h2>
<form action="" id="formUsuario" method="post">
    <label class="col-form-label">
        Nome
    </label>
    <div class="row">
        <input type="text" data-mini="true" value="@ViewBag.Usuario.Nome" id="Nome" name="Nome" placeholder="Digite o nome do usuário" />
    </div>
    <label class="col-form-label">
        E-mail/Login
    </label>
    <div class="row">
        <input type="text" readonly="readonly" data-mini="true" value="@ViewBag.Usuario.Email" id="Email" name="Email" placeholder="Informe o e-mail" />
    </div>
    <span id="rFormRetorno" style="color:#FF0000">@Html.Raw(ViewBag.MensagemRetorno)</span>
    <br />
    <div class="row">
        <div style="font-size: 16px; color:@ViewBag.ColorAlerta ; font-weight:bold">
        </div>
    </div>
    <div class="row">
        <div class="col-50">
            <input type="hidden" name="ID" id="ID" value="@ViewBag.Usuario.ID" />
            <input type="submit" data-mini="true" id="btnGravar" value="Enviar" class="BotaoFinaliza" />
        </div>
        <div class="col-50">
            <input type="button" data-mini="true" id="btnVoltar" value="Voltar" onclick="window.location.href='../Index'" />
        </div>
    </div>
</form>




