################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SINTALOCAS.Modelo/obj/Debug
/SINTALOCAS.DAL/obj/Debug

\.vs/SintalocasForm/v15/

*.ide

*.dll

*.pdb
/SINTALOCAS.Web.MVC

SINTALOCAS\.Dominio/obj/Debug/SINTALOCAS\.Dominio\.csprojResolveAssemblyReference\.cache

SINTALOCAS\.Dominio/obj/Release/

SINTALOCAS\.Dominio/bin/Release/

SINTALOCAS\.Dominio/obj/Debug/

SINTALOCAS\.DAL/bin/Debug/

\.vs/

SINTALOCAS\.Dominio/bin/Debug/

SINTALOCAS\.Dominio/obj/

SINTALOCAS\.Modelo/obj/

SINTALOCAS\.Modelo/bin/Debug/
