################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SINTALOCAS.Modelo/obj/Debug
