################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SINTALOCAS.Modelo/obj/Debug
/SINTALOCAS.DAL/obj/Debug

\.vs/SintalocasForm/v15/

*.ide

*.dll

*.pdb
/SINTALOCAS.Web.MVC
