<!--<h2>Welcome to ASP.NET MVC @ViewData["Version"] on @ViewData["Runtime"]!</h2>-->

<!--@ViewBag.Retorno
-->
<br/>
<br/>
<h2>
    Seja bem vindo ao embiente virtual SINTALOCAS
    clique <a href="~/Afiliacao">aqui</a> para acessar o formulário digital
</h2>