
@{
    ViewBag.Title = "Dependente";
    Layout = "~/Views/Shared/_LayoutCentralAtendimento.cshtml";
}
<h2>Cadastro de Dependentes - Sem acréscimo na mensalidade</h2>
    @Html.Partial("../Partial/DepententeCadastro")
    <br />
    <input type="button" data-mini="true" id="btnProximo" class="BotaoFinaliza" value="Voltar" onclick="window.location.href='Index'" />
