<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="~/image/logo_fundo.png" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    @*SCRIPT DESENVOLVIDO PARA O SISTEMA*@
    <link rel="stylesheet" type="text/css" href="~/Style/estiloAdmin.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <img src="~/image/logo_fundo.png" style="width:50px; height: 40px">
            <label class="label">
                <strong>PAINEL DE CONTROLE</strong>
            </label>
        </div>
        @RenderBody()
    </div>
</body>
</html>

