<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="~/image/logo_fundo.png" />
    <link rel="stylesheet" type="text/css" href="~/Style/estilo.css">
    <script src="~/Scripts/jquery-3.3.1.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.mask.js"></script>
    <link rel="stylesheet" href="~/Content/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="~/Content/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>

    @*SCRIPT DESENVOLVIDO PARA O SISTEMA*@
    <script type="text/javascript" src="~/Scripts/form-afilia.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-1-banner">
                <img src="~/image/logo_fundo.png" width="50">
            </div>
            <div class="col-2-banner" style="vertical-align:baseline">
                <label class="label">
                    PAINEL DE CONTROLE<br />
                    SINDICATO INTERESTADUAL DOS TRABALHADORES EM EMPRESAS DE LOCAÇÃO DE BENS MÓVEIS E ASSISTÊNCIA TÉCNICA DOS ESTADOS DO RIO DE JANEIRO, SÃO PAULO E
                    ESPÍRITO SANTO – SINTALOCAS
                </label>
            </div>
        </div>
        <div class="row" style="background-color:#000000; padding: 3px">
            <a href="~/Relatorio/RelLog" style="color:#ffffff">Log de Acesso</a> |
            <a href="~/Relatorio/RelAfiliados" style="color:#ffffff">Afiliados</a> |
            <a href="~/Admin/Sair" style="color:#ffffff">Sair</a>
        </div>
        @Html.Action("AcessoAdmin", "Log")
        @Html.Action("VerificarLogin", "Admin")
        @RenderBody()
        <br />
        <br />
    </div>
</body>
</html>

