<!DOCTYPE html>
<html>
<head>
    @*<title>@ViewBag.Title</title>*@
    <title>SINTALOCAS - PAINEL DE CONTROLE</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="~/image/logo_fundo.png" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet"
          href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
    <script src="~/Scripts/jquery-3.3.1.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/umd/popper.min.js"></script>
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>

    @*SCRIPT DESENVOLVIDO PARA O SISTEMA*@
    <link rel="stylesheet" type="text/css" href="~/Style/estiloAdmin.css">
    <script type="text/javascript" src="~/Scripts/form-afilia.js"></script>
    <script src="~/Scripts/jquery.mask.js"></script>
</head>
<body>
    <div class="topnav" id="myTopnav">
        <img src="~/image/logo_fundo.png" width="40" alt="">
        <a href="~/Relatorio/RelAfiliados">Cadastro de afiliados</a>
        <a href="~/Textos/">Texto do sistema</a>
        <a href="~/Usuario/">Usuários</a>
        <a href="~/Admin/Sair/" onclick="return confirm('Deseja finalizar a sessão?');">Sair</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
    </div>
    <div class="container">
        @Html.Action("AcessoAdmin", "Log")
        @RenderBody()
    </div>
</body>
</html>

