
@{
    ViewBag.Title = ViewBag.TituloSite;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.Partial("../Partial/EditarAfiliado")
<br /><br />
<div class="row">
    <div class="col-50">
        <input type="button" data-mini="true" id="btnRel" value="Gerar relatorio" onclick="window.open('../PDFPadrao/3')" />
    </div>
    <div class="col-50">
        <input type="button" data-mini="true" id="btnVoltar" value="Voltar" onclick="window.location.href='../RelAfiliados'" />
    </div>
</div>