
@{
    ViewBag.Title = ViewBag.TituloSite;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@{
    var usuario = ViewBag.UsuarioLogin;
}
<h1>@ViewBag.Saudadacao, @usuario.Nome</h1>
@*<form action="" id="formRelat" method="post">
    <strong>Relatorios: </strong>
    <select id="dropRelat">
        <option value="0">Selecione</option>
        @foreach (var item in ViewBag.ListaRelatorio)
        {
            <option value="@item.ID">@item.Nome</option>
        }
    </select>
    <input type="button" value="Gerar" onclick="GerarRelatorio(dropRelat)" />    
</form>*@