@model SINTALOCAS.Web.MVC.Models.AfiliacaoModelView

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Preencha seu cadastro</h2>
<br/>>
<!--@using (Html.BeginForm())
   {
        @Html.ValidationSummary()
        <fieldset>
        <ol>
        <li>
        @Html.LabelFor(m=>m.Nome)
        @Html.TextBoxFor(m=>m.Nome)
        </li>
        </ol>
        <br/>
        @ViewBag.MsgRetorno
        <br/>
        <br/>
        <p>
        <input type="submit" value="Inserir" />
        &nbsp;
        &nbsp;
        <a asp-action="Index">Voltar</a>
        </p>
        </fieldset>
      
  }-->