
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1> @ViewBag.Titulo</h1>
<br/>
<p>
    @Html.Raw(ViewBag.TextoPrincipal)
    <span id="rFormRetorno" style="color:#FF0000">@Html.Raw(ViewBag.MensagemRetorno)</span>
    <br />
    <br />
    <form action="Finalizar/Realizado" method="post">
        <input type="submit" id="btnGravar" class="BotaoFinaliza" value="Concordar e enviar pedido de afiliação" />
    </form>
    <br />
</p>

