@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FICHA DE FILIAÇÃO</h2>

<body>
    <form method="post" action="Create">
        <table>
            <tr>
                <td>ASSOCIADO:</td>
                <td><input type="text" id="Nome" name="Nome" /></td>
            </tr>
             <tr>
                <td>E-MAIL:</td>
                <td><input type="text" id="Email" name="Email" /></td>
            </tr>
            <tr>
                <td>DATA DE NASCIMENTO:</td>
                <td><input type="text" id="DtNasc" name="DtNasc" /></td>
            </tr>
            <tr>
                <td>RG:</td>
                <td><input type="text" id="Rg" name="Rg" /></td>
            </tr>
            <tr>
                <td>CPF:</td>
                <td><input type="text" id="Cpf" name="Cpf" /></td>
            </tr>
            <tr>
                <td>PIS:</td>
                <td><input type="text" id="Pis" name="Pis" /></td>
            </tr>
            <tr>
                <td>CTPS:</td>
                <td><input type="text" id="CtpsNum" name="CtpsNum" /></td>
            </tr>
            <tr>
                <td>Serie:</td>
                <td><input type="text" id="CtpsSerie" name="CtpsSerie" /></td>
            </tr>
            <tr>
                <td>Cargo:</td>
                <td><input type="text" id="Cargo" name="Cargo" /></td>
            </tr>
            <tr>
                <td>Empresa:</td>
                <td><input type="text" id="Empresa" name="Empresa" /></td>
            </tr>
            <tr>
                <td>CNPJ:</td>
                <td><input type="text" id="Cnpj" name="Cnpj" /></td>
            </tr>
            <tr>
                <td>CONSIR:</td>
                <td><input type="text" id="Consir" name="Consir" /></td>
            </tr>
            <tr>
                <td>Celular:</td>
                <td>
                    DDD <input type="text" id="TelCelDDD" name="TelCelDDD" />
                    No. <input type="text" id="TelCelNum" name="TelCelNum" />
                </td>
            </tr>
            <tr>
                <td>Telefone Residencial:</td>
                <td>
                    DDD <input type="text" id="TelResDDD" name="TelResDDD" />
                    No. <input type="text" id="TelResNum" name="TelResNum" />
                </td>
            </tr>
            <tr>
                <td>Rua:</td>
                <td><input type="text" id="Rua" name="Rua" /></td>
            </tr>
            <tr>
                <td>Número:</td>
                <td><input type="text" id="Numero" name="Numero" /></td>
            </tr>
            <tr>
                <td>Complemento:</td>
                <td><input type="text" id="Complemento" name="Complemento" /></td>
            </tr>
            <tr>
                <td>Bairro:</td>
                <td><input type="text" id="Bairro" name="Bairro" /></td>
            </tr>
            <tr>
                <td>Cidade:</td>
                <td><input type="text" id="Cidade" name="Cidade" /></td>
            </tr>
            <tr>
                <td>UF:</td>
                <td><input type="text" id="UF" name="UF" /></td>
            </tr>
            <tr>
                <td>CEP:</td>
                <td><input type="text" id="CEP" name="CEP" /></td>
            </tr>
            <tr>
                <td>Nome Pai:</td>
                <td><input type="text" id="NomePai" name="NomePai" /></td>
            </tr>
            <tr>
                <td>Nome Mãe:</td>
                <td><input type="text" id="NomeMae" name="NomeMae" /></td>
            </tr>
             <tr>
                <td></td>
                <td><input type="submit"  /></td>
            </tr>
        </table>
    </form>
</body>

