@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>FICHA DE FILIAÇÃO</h2>
<body>
  Salvando dados...
</body>
<script type="text/javascript" src="~/Scripts/form-afilia.js"></script>
